In [2]:
import pandas as pd

In [3]:
df = pd.concat(map(pd.read_csv, [ 'Sales_August_2019.csv','Sales_December_2019.csv']))

In [4]:
df.head()

,Order ID,Product,Quantity Ordered,Price Each,Order Date,Purchase Address
0,236670,Wired Headphones,2,11.99,08/31/19 22:21,"359 Spruce St, Seattle, WA 98101"
1,236671,Bose SoundSport Headphones,1,99.99,08/15/19 15:11,"492 Ridge St, Dallas, TX 75001"
2,236672,iPhone,1,700.0,08/06/19 14:40,"149 7th St, Portland, OR 97035"
3,236673,AA Batteries (4-pack),2,3.84,08/29/19 20:59,"631 2nd St, Los Angeles, CA 90001"
4,236674,AA Batteries (4-pack),2,3.84,08/15/19 19:53,"736 14th St, New York City, NY 10001"

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 37128 entries, 0 to 25116
Data columns (total 6 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Order ID          37020 non-null  object
 1   Product           37020 non-null  object
 2   Quantity Ordered  37020 non-null  object
 3   Price Each        37020 non-null  object
 4   Order Date        37020 non-null  object
 5   Purchase Address  37020 non-null  object
dtypes: object(6)
memory usage: 2.0+ MB